body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  background-color:darkslategrey !important;
  color:darkgray !important;
}

header {
  flex: 0 80px;
}

a.navStyles {
  padding: 1rem;
  background-color:cadetblue;
  color:black;
  text-decoration: none;
  font-size: larger;
}

main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  flex: 0 30px;
}

menu {
  flex: 1;
  display: flex;
  /*  overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
}

.navbar-brand {
  border-bottom: solid rgb(182, 182, 182) thin;
}

hr {
  border-top: solid rgb(182, 182, 182) thin;
  width: 100%;
  size: 2;
}

p {
  margin-bottom: 0rem !important;
}

img.slideshow {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 250px;
  height: 300px;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  float: right;
}

footer span {
  float: right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}
